### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [1]:
message = "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."
print(message.count("row"))
print(message.count("Row")+message.count("row"))

4
6

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [2]:
message = "{} had a little {} \nIt was {} as snow.\nAnd everywhere that {} went, the {} was sure to go."
name = str(input("Enter a name: "))
animal= str(input("Enter an animal: "))
color= str(input("Enter a color: "))
print(message.format(name, animal, color, name, animal))

Enter a name: Laxmi
Enter an animal: a dog
Enter a color: white
Laxmi had a little a dog
It was white as snow.
And everywhere that Laxmi went, the a dog was sure to go.

3. Print 3.14159 in a scientific number notation

In [3]:
print(f" {3.14159: e} ")

  3.141590e+00

4. Print 3.1559 in 3 decimal places

In [4]:
print(f" {3.1559:.3f}")

 3.156

5. Print 1589.92341 in a scientific number notation to the power of 3

In [5]:
print(f" {1589.92341: e} ")

  1.589923e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [6]:
print(39//2)
print(39%2)

19
1

In [7]:
print(19//2)
print(19%2)

9
1

In [8]:
print(9//2)
print(9%2)

4
1

In [9]:
print(4//2)
print(4%2)

2
0

In [10]:
print(2//2)
print(2%2)

1
0

In [11]:
print(1//2)
print(1%2)

0
1

In [45]:
bin = 0b100111
print(bin)

39

In [46]:
int(bin)==39

True

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [25]:
print(39//8)
print(39%8)

4
7

In [26]:
print(4//8)
print(4%8)

0
4

In [42]:
oct = 0o47
print(oct)

39

In [44]:
int(oct)==39

True

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [47]:
print(39//16)
print(39%16)

2
7

In [48]:
print(2//16)
print(2%16)

0
2

In [49]:
hex=0x27
print(hex)

39

In [50]:
int(hex)==39

True

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [51]:
amt= float(input("Enter amount: "))
tax = float(input("Enter tax rate percentage: "))
calc= amt*tax
total= amt+ calc
message = "Amount: {} \nTax Rate: {} \nTax amount: {} \nTotal: {}"
print(message.format(amt, tax, calc, total))

Enter amount: 27
Enter tax rate percentage: 3
Amount: 27.0
Tax Rate: 3.0
Tax amount: 81.0
Total: 108.0